<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student),class:'btn btn-primary mt-1' %>

  <%= link_to "Back to students", students_path,class:'btn btn-secondary mt-1' %>
  <br/>
  <br/>
  <%= button_to "Destroy this student", @student, method: :delete,class:'btn btn-danger' %>
</div>
